html, body{
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  color:#ee4630;

}

img,h1{
  display: inline-block;
  /* font-size: 60px; */
}

#container{
  width: 90%;
  margin: 0 auto;
  display: block;
}

.diamante{
  display: inline-block;
  border-style: solid;
  border-color: transparent transparent rebeccapurple transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  position: relative;
  margin: 20px 0 50px 0;
}

.diamante:after{
  content: "";
  position: absolute;
  top:25px;
  left:-25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rebeccapurple transparent transparent transparent;
  border-width: 70px 50px 0 50px;

}